<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.mini.bietuola.mapper.TeamMapper">

    <resultMap type="com.netease.mini.bietuola.entity.Team" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="imgUrl" column="img_url"/>
        <result property="fee" column="fee"/>
        <result property="startDate" column="start_date"/>
        <result property="duration" column="duration"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="memberNum" column="member_num"/>
        <result property="desc" column="desc"/>
        <result property="activityStatus" column="activity_status"/>
        <result property="categoryId" column="category_id"/>
        <result property="startType" column="start_type"/>
        <result property="maxRecuitDate" column="max_recuit_date" />
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createUserId" column="create_user_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, avatar_url, img_url, fee, start_date, duration, start_time, end_time, member_num, desc, activity_status, category_id, start_type, create_time, update_time, create_user_id, max_recuit_date
    </sql>

    <sql id="Alias_Column_List">
        t.id, t.name, t.avatar_url, t.img_url, t.fee, t.start_date, t.duration, t.start_time, t.end_time, t.member_num, t.desc, t.activity_status, t.category_id, t.start_type, t.create_time, t.update_time, t.create_user_id, t.max_recuit_date
    </sql>

    <select id="findTeamByActivityStatus" resultMap="BaseResultMap">
        select * from team
        where activity_status=#{teamStatus}
    </select>
    <select id="listTeam" resultMap="BaseResultMap">
        SELECT *
        FROM team
        WHERE activity_status = 1
    </select>

    <select id="getTeamByCategory" parameterType="Long" resultMap="BaseResultMap">
       SELECT *
       FROM team
       WHERE activity_status = 1
       AND category_id = #{categoryId}
    </select>

    <select id="getTeamById" parameterType="long" resultMap="BaseResultMap">
       SELECT *
       FROM team
       WHERE id = #{teamId}
    </select>

    <select id="countMember" parameterType="long" resultType="int">
        SELECT COUNT(id)
        FROM user_team
        WHERE id = #{teamId}
    </select>

    <update id="updateStatus">
        UPDATE team
        SET start_date = #{startDate}, activity_status = #{teamStatus}
        WHERE id = #{teamId}
    </update>

    <select id="selectTeamInfoById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Alias_Column_List"/>
        from team as t
        where id=#{teamId}
    </select>

    <select id="countCurrentMemberNum" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(1)
        from user_team
        where team_id=#{teamId}
    </select>


    <insert id="insertUserTeam" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_team(user_id, team_id, create_time, award_amount)
        VALUES (#{userId}, #{teamId}, #{createTime}, #{awardAmount})
    </insert>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO team(name, avatar_url,img_url,fee,start_date,duration,member_num,category_id,`desc`,start_type,start_time,end_time,activity_status,create_time,update_time,create_user_id,max_recuit_date)
        VALUES (#{name},#{avatarUrl},#{imgUrl},#{fee},#{startDate},#{duration},#{memberNum},#{categoryId},#{desc},#{startType},#{startTime},#{endTime},#{activityStatus},#{createTime},#{updateTime},#{createUserId},#{maxRecuitDate})
    </insert>

    <select id="findTeamByTeamId" resultMap="BaseResultMap">
        SELECT * from team
        WHERE id=#{teamId}
    </select>
    
    <update id="changeWaitingToProcessing" parameterType="long">
    <![CDATA[
      UPDATE team
      SET activity_status = 3
      WHERE activity_status = 5 AND #{current} > start_date
    ]]>
    </update>
    
    <update id="changeRecuitToFailForSchedule" parameterType="long">
    <![CDATA[
      UPDATE team
      SET activity_status = 2
      WHERE activity_status = 1 AND start_type = 2 AND #{current} > start_date
    ]]>
    </update>
    
    <update id="changeRecuitToFailForFullPeople" parameterType="long">
    <![CDATA[
      UPDATE team
      SET activity_status = 2
      WHERE activity_status = 1 AND start_type = 1 AND #{current} > (create_time+max_recuit_date*86400000)
    ]]>
    </update>
</mapper>